@use '../variables/colors' as *;
@use '../mixin/mixin' as *;

/* contact start  */
.contacts {
  background: $dark-white;
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .map {
      flex: 1 1 42rem;
      width: 100%;
      padding: 2rem;
    }
    form {
      padding: 2rem;
      flex: 1 1 42rem;
      text-align: center;
      h3 {
        @include titleText(3rem);
        padding-bottom: 1rem;
      }
      .box {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0.7rem 0;
      }
      textarea {
        height: 15rem;
        resize: none;
      }
      .btn {
        width: 100%;
      }
    }
  }
}
/* contact end  */
